li {
  display: inline-block;
  position: relative;
}

li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  margin-top: 1px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f9d207;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
