@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SofiaBold;
  src: url(./fonts/SofiaProBold.woff);
}

@font-face {
  font-family: SofiaRegular;
  src: url(./fonts/SofiaProRegular.woff);
}
